/*------------TEXTOS------------*/

h1{
    color: rgb(255, 255, 255);
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 0 0 8px #000000, 0 0 8px #000000;
}

h2{
    color: rgb(202, 202, 202);
    font-size: 1.9rem;
    margin-top: 4%;
}

h3{
    color: rgb(202, 202, 202);
    font-size: 1.9rem;
    margin-top: 10px
}

p{
    font-size: 1.2rem;
    text-align: center;
    font-weight: bold;
    color: rgb(8, 172, 172);
    padding: 1% 10%;
}
